{% extends "main/base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
    <h1>Few words about us</h1>
    <p>
        We are a group of four who make their first steps in coding in python. We are about to finish a course of
        coding in Python.
    </p>
    <p>
        This application is being developed as our final project. The application is supposed to gather data from
        selected online stores which offer gaming consoles, compare prices and offer a detailed view of an item.
    </p>
    <p>
        Since we are new to the coding field, we realise our application can still have some downsides.
        If you have any tips or hint about what to make better or what features you would like the app to possess,
        please contact us.
    </p>



{% endblock body %}
