{% extends "main/base.html" %}

{% block title %}Features{% endblock title %}

{% block body %}
    <h1>Here are some key features of our application</h1>
    <p>
        Our innovative application is designed to simplify your shopping experience by providing you with a one-stop
        solution for comparing prices of gaming consoles across various e-commerce stores. Here are some exciting
        features our application possesses:
    </p>
    <ol>
      <li>
        Price Comparison: Our app scrapes data from selected e-stores, ensuring you have access to the latest prices
        of gaming consoles. With just a few clicks, you can effortlessly compare prices from different online retailers,
        allowing you to make informed purchasing decisions
      </li>
      <li>
        Favorite Items: Found a gaming console that caught your eye? Simply save it as a favorite! Our application
        enables you to curate a personalized list of your preferred gaming consoles, making it easy to revisit and
        compare prices later. No more searching through multiple websites to find that perfect console again!
      </li>
      <li>
        User Opinions: We value your opinions, and we understand the importance of user feedback. Our app enables
        you to share your experiences and insights on gaming consoles. Whether it's a review, a rating, or a
        recommendation, you can contribute your thoughts to help other users make better choices.
      </li>
      <li>
        Detailed Product Information: Making an informed decision requires access to comprehensive product details.
        Our application provides you with in-depth information about each gaming console, including specifications,
        features, and customer reviews. With this knowledge, you can confidently select the console that suits your
        needs.
      </li>
      <li>
        Notifications and Price Alerts: Stay updated on the latest gaming console deals! Our app allows you to set
        up notifications and price alerts, so you never miss out on a great offer. Whether it's a price drop, a
        limited-time promotion, or the availability of a highly sought-after console, we'll keep you informed.
      </li>
    </ol>


{% endblock body %}
