{% extends "main/base.html" %}

{% block title %}Welcome on Cenomat!{% endblock title %}

{% block body %}
    <h1>Welcome to Cenomat</h1>
    <p>
        Welcome to our comprehensive gaming console price comparison website! Are you an avid gamer looking for
        the best deals on the latest gaming consoles? Look no further! We understand that finding the perfect
        gaming console at the right price can be a challenging task. That's why we've created this platform to
        simplify your search and help you make an informed decision.
    </p>
    <p>
        Our website brings together a wide range of gaming consoles from various brands, including Sony PlayStation,
        Microsoft Xbox, and Nintendo Switch. Whether you're interested in the powerful performance of the PlayStation 5,
        the versatility of the Xbox Series X, or the portable gaming experience of the Nintendo Switch, we've got you covered.
    </p>

    <p>
        Our dedicated team scours the internet to find the most up-to-date prices from reliable retailers, ensuring that you
        have access to the latest deals and discounts. With our user-friendly interface, you can easily compare prices,
        read detailed product descriptions, and make side-by-side comparisons of different console models.
    </p>
    <p>
        But we don't stop at just providing prices. We strive to offer you a comprehensive resource for all things gaming
        consoles. You'll find expert reviews, buying guides, and valuable tips to help you navigate the gaming console
        landscape. Our goal is to empower you with the knowledge you need to make the best decision that suits your budget
        and gaming preferences.
    </p>
    <p>
        So whether you're a casual gamer searching for an affordable option or a hardcore gamer seeking the ultimate gaming
        experience, we're here to help. Start exploring our website today and discover the perfect gaming console at the best
        price. Game on!
    </p>

{% endblock body %}
